<html>
<body>
  <nav id="main">Main Menu</nav>
  <div id="property-name">{{name}}</div>
  <div id="address">{{address}}</div>
  <div id="image">Image</div>
  <div id="description">Description</div>
  <div id="ratings">Ratings</div>
  <div id="contact">Contact</div>
  <div id="room-quantity">Room Quantity</div>
  <div id="room-types">Room Types</div>
  <div id="facilities">Facilities</div>
</body>
</html>
